<!DOCTYPE html>
<html>
<head>
  <title>ComicReview</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- nice use of a partial for the header -->
  <%= render 'layouts/header' %>
  <% flash.each do |name, msg| %>
    <% content_tag(:div, msg, class: "alert alert-info") %>
    <% end %> <!-- this should be indented two spaces to the left -->
    <%= yield %>

</body>
</html>
